        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Koulen&family=Lato:ital,wght@1,400;1,700&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster+Two:ital,wght@1,700&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600;900&display=swap');
        body {
            margin: 0;
            padding: 0;
            color: #fff;
            font-family: 'Lobster Two', sans-serif;
        }

        .header-wrapper {
            height: 100vh;
            width: 100vw;
            background: linear-gradient(-45deg, #DA70D6, #FFC0CB, #D8BFD8, #F0FFFF);
            background-size: 400% 400%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            animation: backgroundTransition 8s ease-in-out infinite;
        }

        h1 {
            text-transform: capitalize;
            letter-spacing: 4px;
        }

        h2 {
            text-transform: capitalize;
            letter-spacing: 4px;
        }

        .social-media {
            margin-top: 1rem;
            display: flex;
        }

        .social-media a {
            text-decoration: none;
            color: #fff;
            font-size: 24px;
            padding: 1rem 4rem;
            border: 1px solid #fff;
            min-width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.85);
        }

        a:hover {
            color: #DDA0DD;
            background-color: #FFC0CB;
            border-radius: 26px;
        }

        @keyframes backgroundTransition {
            0% {
                background-position: 0% 80%;
            }
            50% {
                background-position: 80% 100%;
            }
            100% {
                background-position: 0% 90%;
            }
        }

        .checkbox-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .checkbox {
            height: 100px;
            width: 100px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            cursor: pointer;
            z-index: 9999;
            transition: 400ms ease-in-out 0s;
        }

        .checkbox .trace {
            width: 50px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            border-radius: 4px;
            transition: 0.5s ease-in-out;
        }

        .checkbox .trace:nth-child(1) {
            top: 26px;
            transform: rotate(0);
        }

        .checkbox .trace:nth-child(2) {
            top: 46px;
            transform: rotate(0);
        }

        .checkbox .trace:nth-child(3) {
            top: 66px;
            transform: rotate(0);
        }

        .checkbox .trace:nth-child(1) {
            top: 26px;
            transform: rotate(0);
        }

        .checkbox .trace:nth-child(2) {
            top: 46px;
            transform: rotate(0);
        }

        .checkbox .trace:nth-child(3) {
            top: 66px;
            transform: rotate(0);
        }

        #toggle {
            display: none;
        }

        .menu {
            position: absolute;
            top: 28px;
            right: 30px;
            opacity: 0.5;
            background: #fff;
            height: 40px;
            width: 40px;
            border: 50%;
            box-shadow: 0px 0px 0px 0px #DDA0DD;
            z-index: -1;
            transition: 400ms ease-in-out 0s;
        }

        .menu-items {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transition: 400ms ease-in-out 0s;
        }

        .menu-items ul {
            list-style-type: none;
        }

        .menu-items ul li a {
            margin: 10px 0;
            color: #DA70D6;
            text-decoration: none;
            text-transform: capitalize;
            letter-spacing: 4px;
            font-size: 40px;
        }

        #toggle:checked+.checkbox .trace:nth-child(1) {
            transform: rotate(45deg);
            background-color: #DA70D6;
            top: 47px;
        }

        #toggle:checked+.checkbox .trace:nth-child(2) {
            transform: rotate(-100px);
            width: 30px;
            visibility: hidden;
            opacity: 0;
        }

        #toggle:checked+.checkbox .trace:nth-child(3) {
            transform: rotate(-45deg);
            background-color: #DA70D6;
            top: 47px;
        }

        #toggle:checked+.checkbox {
            background-color: none;
        }

        #toggle:checked~.menu {
            box-shadow: 0px 0px 0px 100vmax #fff;
            z-index: 1;
        }

        #toggle:checked~.menu-items {
            visibility: visible;
            opacity: 1;
        }

        .container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 3rem 0;
        }

        .card-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 90%;
        }

        .card {
            height: 300px;
            width: 400px;
            margin: 3rem 0 0;
            background-image: url('./images/girl.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: grayscale(0.5);
            color: #F0FFFF;
            cursor: pointer;
            transition: 0.3s;
        }

        .card-text {
            width: 40%;
            font-family: sans-serif;
            letter-spacing: 1px;
            color: rgb(109, 109, 109);
        }

        .card-wrapper::before {
            content: '';
            position: absolute;
            height: 100px;
            width: 100px;
            display: block;
            border: 1px solid #fff;
            opacity: 0;
            transition: 0.3s;
        }

        .card-wrapper h2 {
            font-size: 40px;
            text-transform: capitalize;
            letter-spacing: 4px;
            margin: 0;
            transition: 0.3s;
        }

        .card-wrapper p {
            font-size: 0;
            visibility: hidden;
            opacity: 0;
            font-weight: bold;
            text-transform: capitalize;
            transition: 0.3s;
        }

        .card:hover {
            filter: unset;
        }

        .card:hover>.card-wrapper::before {
            opacity: 1;
            width: 350px;
            height: 250px;
        }

        .footer {
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #DA70D6;
        }

        @media (max-width: 880px) {
            .social-media {
                display: flex;
            }
            .container {
                margin-top: 0;
            }
            .card-container {
                flex-direction: column;
            }
            .container.card-container :nth-child(1),
            .container.card-container :nth-child(3) {
                flex-direction: column-reverse;
            }
            .card {
                height: 250px;
                width: 250px;
            }
            .card-text {
                width: 90%;
                margin-top: 2rem;
                text-align: center;
            }
            .card:hover>.card-wrapper::before {
                height: 190px;
                width: 190px;
            }
        }
